.navbar-wrapper{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.carousel-item img{
    max-width: 100%;
    height: 600px;
}
.carousel-caption{
    z-index: 10;
} 
.team-section{
    padding-top:4%;
    text-align: center;
}
.team-about{
    color: rgb(50,50,50,0.6);
    margin: 2px;
}
.divider{
    margin:5%;
}
.content{
    padding-top: 1%;
}
.micky{
    text-align: center;
}
.content .row{
    padding-bottom: 5%;
}
.foot{
    margin-left: 80px;
    margin-right: 80px;
}
.para{
    padding: 5%;
    color: white;
    margin: 3%;
}