*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    
}

body{
    font-family: 'Pacifico', cursive;
    background: linear-gradient(to right, #bc4e9c,#f80759) no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
}

.wrapper{
    width: 450px;
    height: 450px;
    margin: 50px auto;
    border: solid 8px;
    background-color: white;
    border-radius: 25px;
}
.header{
    position: relative;
    bottom: 1px;
    width: 100%;
    text-align: center;
    height: 50px;
    background: linear-gradient(#ad5389,#3c1053);
    margin-top: 0.5px;
    padding: 10px 0;
    border-radius: 20px 20px 0 0; 
    background-size: cover;
    font-size: 25px;
    color: white;
    padding-top: 10px;
}
span{
    border-bottom: dashed 2px white;
    display: block;
}

.todo-items{
    width: 100%;
    height: 90%;
    
}
input[type="checkbox"]{
    
    position: relative;
    top:10px;
    right: 10px;
    float: right;
    
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    opacity: 0.3;
}
.todo{
    list-style-type: none;
}
.todo li{
    width: 100%;
    float:left;
}
label{
    padding: 10px;
    float: left;
    
}
.alter{
    background-color: grey;
color: white;
}